{% extends 'blog/base_blog.html' %}

{% block title %}
    Delete Tag "{{Tag.title}}" - {{ block.super }}
{% endblock %}


{% block content %}
    <form action="{{ Tag.get_delete_url }}" method="post">
    {% csrf_token %}

        <h3>Are you sure you want to delete tag <b>"{{tag.title}}"</b>?</h3>
        <button type="submit" name="button" class="btn btn-primary">
          <a href="{% url 'tag_detail_url' slug=tag.slug %}" style="color: white">Cancel</a>
        </button>
        <button type="submit" name="button" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
